.margin-center {
  margin: 0 auto 0 auto !important;
}
.align-center {
  text-align: center !important;
}
.align-right {
  text-align: right !important;
}
.main-container {
  padding: 25px !important;
}
.mouse-pointer {
  cursor: pointer;
}
.debug {
  border: 2px solid red;
}
.v-tabs__wrapper {
  overflow: auto !important;
}
